* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;

}

h1 {
    text-align: center;
    padding: 8px;  
    background-color: #081f37;
    color: white;  
}

body {
    height: 100vh;
    background-color: #5fc9f3;
    display: flex;
    flex-direction: column;
}

.tile {
    flex: 1;
    cursor: pointer;
}

.grid-container {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    height: 800px;
    border: 1px solid black;
}

.row {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.controls {
    padding: 10px;
}

.controls button {
    font-size: large;
    padding: 4px;
}

footer {
    margin-top: auto;
    background-color: #1e549f;
    padding: 8px;
    color: white;
}